@use "../global/mixins" as *;
@use "../layout/header";
@use "../layout/footer";

.main {
    &__home {
        @include grid();

        &-about {
            @include flex(column, center, start);
            gap: 1rem;
        }

        &-title {
            font-size: 1.2rem;
            font-weight: bold;
            text-wrap: nowrap;

            &--gradient {
                background: linear-gradient(90deg, var(--color-highlight-blue), var(--color-highlight-aqua), var(--color-highlight-green), var(--color-highlight-purple));
                background-clip: text;
                color: transparent;
            }

            @include media(320px) {
                font-size: 6vw;
            }

            @include media() {
                font-size: 2.4rem;
            }
        }

        &-description {
            color: var(--color-text-secondary);
        }

        &-skills {
            @include flex(column, center, start);
            gap: 1rem;
        }

        &-subtitle {
            padding-left: 0.5rem;
            font-size: 1.2rem;
            font-weight: bold
        }

        &-container {
            @include flex();
            width: 100%;
            padding: 1.5rem;
            gap: 1rem;
            @include container(--color-bg-secondary, --color-border, 1.175rem);
        }
    }

    &__projects {
        @include flex(column);
        gap: 2rem;

        &-title {
            font-size: 1.5rem;
            font-weight: bold
        }

        &-grid {
            width: 100%;
            padding: 2rem;
            gap: 1rem;
            @include container(--color-bg-secondary, --color-border, 1.175rem);
            @include grid(2, 2rem 3rem);
        }

        &-subtitle {
            font-size: 1.2rem;
            font-weight: bold
        }

        &-image {
            border-radius: 0.5875rem;
        }

        &-info {
            @include flex(column, center, start);
            gap: 1rem;
        }

        &-description {
            color: var(--color-text-secondary);
        }

        &-container {
            @include flex(row, space-between);
            width: 100%;
        }

        &-icons {
            @include flex();
            gap: 1rem;
        }
    }

    &__education {
        @include flex(column);
        gap: 2rem;

        &-title {
            font-size: 1.5rem;
            font-weight: bold
        }

        &-grid {
            @include grid();
        }

        &-container {
            @include flex(column, start, start);
            gap: 1rem;
        }

        &-info {
            @include flex(row, space-between);
            width: 100%;
        }

        &-subtitle {
            font-size: 1.2rem;
            font-weight: bold
        }

        &-text {
            color: var(--color-text-secondary);
        }

        &-item {
            margin-left: 1rem;
            list-style-type: disc;
        }
    }

    &__skills {
        @include flex(column, center, start);
        width: 100%;
        padding: 2rem;
        gap: 2rem;
        @include container(--color-bg-secondary, --color-border, 1.175rem);

        &-title {
            font-size: 1.5rem;
            font-weight: bold
        }

        &-grid {
            @include grid(2, 2rem 3rem);
        }

        &-container {
            @include flex(column, start, start);
            gap: 1rem;
        }

        &-subtitle {
            font-size: 1.2rem;
            font-weight: bold
        }

        &-description {
            color: var(--color-text-secondary);
        }

        &-icons {
            @include flex();
            gap: 1rem;
        }
    }
}