@use "../global/mixins" as *;
@use "../layout/header";
@use "../layout/footer";

.main {
    &__home {
        padding-left: 10vw;
        padding-right: 10vw;
        @include grid();

        &-about {
            @include flex(column, center, start);
            gap: 1rem;
        }

        &-title {
            text-wrap: nowrap;
            @include text();

            &--gradient {
                background: linear-gradient(90deg, var(--color-highlight-primary), var(--color-highlight-secondary), var(--color-highlight-tertiary), var(--color-highlight-quaternary));
                background-clip: text;
                color: transparent;
            }

            @include media(320px) {
                font-size: 6vw;
            }

            @include media() {
                font-size: 2.4rem;
            }
        }

        &-description {
            color: var(--color-text-secondary);
        }

        &-skills {
            @include flex(column, center, start);
            gap: 1rem;
        }

        &-subtitle {
            padding-left: 0.5rem;
            @include text();
        }

        &-container {
            @include flex();
            width: 100%;
            padding: 1.5rem;
            gap: 1rem;
            @include container(--color-bg-secondary, --color-border, 1.175rem);

            i:hover,
            svg:hover {
                transform: scale(1.5);
                transition: transform 0.1s ease-in-out;
            }
        }
    }

    &__projects {
        @include flex(column);
        max-width: 100%;
        gap: 2rem;

        &-title {
            @include text(--font-primary, 1.5rem);
        }

        &-wrapper {
            @include flex();
            max-width: 100%;
            position: relative;
            overflow: hidden;
        }

        &-arrow {
            display: none;

            &:hover {
                transform: scale(1.1);
                transition: transform 0.1s ease-in-out;
            }

            @include media(960px) {
                @include flex();
                position: absolute;
                padding: 1rem;
                cursor: pointer;
                z-index: 1;
                @include container(--color-bg-secondary, --color-border, 1.175rem);

                &--left {
                    left: 2.5vw;
                }

                &--right {
                    right: 2.5vw;
                }

                &--hide {
                    display: none;
                }

                &--fade-in {
                    animation: fade-in 0.3s ease-in-out forwards;
                }

                &--fade-out {
                    animation: fade-out 0.3s ease-in-out forwards;
                }
            }
        }

        &-carousel {
            padding-left: 10vw;
            padding-right: 10vw;
            display: flex;
            gap: 5vw;
            overflow-x: auto;
            scroll-behavior: smooth;
            scrollbar-width: none;

            @include media(960px) {
                gap: 10vw;
            }
        }

        &-grid {
            min-width: 100%;
            padding: 2rem;
            gap: 1rem;
            @include container(--color-bg-secondary, --color-border, 1.175rem);
            @include grid(2, 2rem 3rem);
        }

        &-subtitle {
            @include text();
        }

        &-image {
            width: 100%;
            border-radius: 0.5875rem;
        }

        &-info {
            @include flex(column, center, start);
            gap: 1rem;
        }

        &-description {
            color: var(--color-text-secondary);
        }

        &-container {
            @include flex(row, space-between, center, wrap);
            width: 100%;
            gap: 2rem 1rem;
        }

        &-icons {
            @include flex();
            gap: 1rem;

            i:hover,
            svg:hover {
                transform: scale(1.5);
                transition: transform 0.1s ease-in-out;
            }
        }
    }

    &__education {
        @include flex(column);
        padding-left: 10vw;
        padding-right: 10vw;
        gap: 2rem;

        &-title {
            @include text(--font-primary, 1.5rem);
        }

        &-grid {
            @include grid();
        }

        &-container {
            @include flex(column, start, start);
            gap: 1rem;
        }

        &-info {
            @include flex(row, space-between);
            width: 100%;
        }

        &-subtitle {
            @include text();
        }

        &-text {
            color: var(--color-text-secondary);
        }

        &-item {
            margin-left: 1rem;
            list-style-type: disc;
        }
    }

    &__skills {
        @include flex(column);
        padding-left: 10vw;
        padding-right: 10vw;

        &-wrapper {
            @include flex(column, center, start);
            width: 100%;
            padding: 2rem;
            gap: 2rem;
            @include container(--color-bg-secondary, --color-border, 1.175rem);
        }

        &-title {
            @include text(--font-primary, 1.5rem);
        }

        &-grid {
            @include grid(2, 2rem 3rem);
        }

        &-container {
            @include flex(column, start, start);
            gap: 1rem;
        }

        &-subtitle {
            @include text();
        }

        &-description {
            color: var(--color-text-secondary);
        }

        &-icons {
            @include flex(row, start, center, wrap);
            gap: 1rem;

            i:hover,
            svg:hover {
                transform: scale(1.5);
                transition: transform 0.1s ease-in-out;
            }
        }
    }
}

.active {
    transition: background-color 0.2s ease-in-out;
}