@use "../global/mixins" as *;

.footer {
    @include grid(3);

    & {
        padding: 10svh 10vw;
        background-color: var(--color-bg-secondary);
        border-top: 1px solid var(--color-border);
    }

    &__section {
        @include flex(column, nowrap, start, start);
        gap: 1rem;

        &-subtitle {
            font-weight: bold
        }

        &-list {
            @include flex(column, nowrap,
                center,
                start);
            gap: 1rem
        }

        &-item {
            @include flex();
            gap: 0.5rem;
        }

        &-text {
            color: var(--color-text-secondary);
        }
    }
}