@use "./global/mixins" as *;

body {
    min-width: 320px;
    background-color: var(--color-bg-primary);
}

main {
    @include flex(column);
    padding: 10svh 10vw;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
}