@use "./global/mixins" as *;

body {
    min-width: 320px;
    background-color: var(--color-bg-primary);
}

main {
    @include flex(column);
    padding: 10svh 10vw;
    gap: 10svh;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    padding: 1px;
}

i {
    display: block;
    text-align: center;
    width: 1.5rem;
    font-size: 1.5rem;
}