/* Flexbox mixin */
@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-flow: $direction nowrap;
    justify-content: $justify;
    align-items: $align;
}

/* Grid mixin */
@mixin grid($rows: 2, $gap: 5rem) {
    & {
        display: grid;
        grid-template-columns: 1fr;
        gap: $gap;
    }

    @include media(960px) {
        grid-template-columns: repeat($rows, 1fr);
    }
}

/* Container style mixin */
@mixin container($background: --color-bg-secondary, $border: --color-border, $radius: 3.25rem) {
    & {
        background-color: var($background);
        border: 1px solid var($border);
        border-radius: $radius;
    }
}

/* Text style mixin */
@mixin text($font: --font-primary, $size: 1.2rem, $weight: bold) {
    & {
        font-family: var($font);
        font-size: $size;
        font-weight: $weight;
    }
}

/* Media query mixin */
@mixin media($min-width: 640px) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}