:root {
    /* Background colors */
    --color-bg-primary: rgb(225, 225, 225);
    --color-bg-primary-translucent: rgba(225, 225, 225, 0.565);
    --color-bg-secondary: rgb(215, 215, 215);

    /* Text colors */
    --color-text-primary: rgb(30, 30, 30);
    --color-text-secondary: rgb(100, 100, 100);

    /* Other colors */
    --color-border: rgb(175, 175, 175);

    /* Highlight colors */
    --color-highlight-primary: rgb(34, 200, 128);
    --color-highlight-secondary: rgb(34, 200, 45);
    --color-highlight-tertiary: rgb(106, 200, 34);
    --color-highlight-quaternary: rgb(34, 189, 200);

    /* Fonts */
    --font-primary: "Inter", sans-serif;
    --font-secondary: "Roboto", sans-serif;

    @media (prefers-color-scheme: dark) {
        /* Background colors for dark mode */
        --color-bg-primary: rgb(30, 30, 30);
        --color-bg-primary-translucent: rgba(28, 28, 28, 0.565);
        --color-bg-secondary: rgb(40, 40, 40);

        /* Text colors for dark mode */
        --color-text-primary: rgb(225, 225, 225);
        --color-text-secondary: rgb(155, 155, 155);

        /* Other colors for dark mode */
        --color-border: rgb(80, 80, 80);

        /* Highlight colors */
        --color-highlight-primary: rgb(54, 220, 148);
        --color-highlight-secondary: rgb(54, 220, 65);
        --color-highlight-tertiary: rgb(126, 220, 54);
        --color-highlight-quaternary: rgb(54, 209, 220);
    }
}

[data-theme="light"] {
    /* Background colors */
    --color-bg-primary: rgb(225, 225, 225);
    --color-bg-primary-translucent: rgba(225, 225, 225, 0.565);
    --color-bg-secondary: rgb(215, 215, 215);

    /* Text colors */
    --color-text-primary: rgb(30, 30, 30);
    --color-text-secondary: rgb(100, 100, 100);

    /* Other colors */
    --color-border: rgb(175, 175, 175);

    /* Highlight colors */
    --color-highlight-primary: rgb(34, 200, 128);
    --color-highlight-secondary: rgb(34, 200, 45);
    --color-highlight-tertiary: rgb(106, 200, 34);
    --color-highlight-quaternary: rgb(34, 189, 200);
}

[data-theme="dark"] {
    /* Background colors for dark mode */
    --color-bg-primary: rgb(30, 30, 30);
    --color-bg-primary-translucent: rgba(28, 28, 28, 0.565);
    --color-bg-secondary: rgb(40, 40, 40);

    /* Text colors for dark mode */
    --color-text-primary: rgb(225, 225, 225);
    --color-text-secondary: rgb(155, 155, 155);

    /* Other colors for dark mode */
    --color-border: rgb(80, 80, 80);

    /* Highlight colors */
    --color-highlight-primary: rgb(54, 220, 148);
    --color-highlight-secondary: rgb(54, 220, 65);
    --color-highlight-tertiary: rgb(126, 220, 54);
    --color-highlight-quaternary: rgb(54, 209, 220);
}