:root {
    --primary-color: #0f0f0f;
    --secondary-color: #f0f0f0;
    --primary-font: sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #f0f0f0;
        --secondary-color: #0f0f0f;
    }

}